In [1]:
# Ddd dependencies
import pandas as pd
import numpy as np

# Create Combined Data Frame for East Central Division 2013 - 2017

In [2]:
# Creat header
clean_ec_data = pd.DataFrame(columns=['Category','Gender','Age','Year','Division','Population'])

clean_ec_data

Empty DataFrame
Columns: [Category, Gender, Age, Year, Division, Population]
Index: []

In [3]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013,2014,2015,2016,2017]:
    raw_data_ec = pd.read_csv("raw_data/East Central Data/Movie Purchaser Behavior EC {}.csv".format(year),skiprows=1)
      
    # Drop na and first 3 columns
    raw_data_ec = raw_data_ec.dropna().drop(raw_data_ec.columns[[1, 2, 3]], axis=1)
#raw_data_ec
  
    # Replace ' ' with "_" in category column and create a list for category 
    cat = list(i.strip().replace(' ','_').lower() for i in list(raw_data_ec.iloc[:,0]))
    # print("{} cat: {}".format(year,cat))

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_ec.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]

    # clean data table
    clean_df = pd.DataFrame(columns=['Category','Gender','Age','Year','Division','Population'])
    cat_list = []
    for i in cat:
        cat_list += [i]*10
    clean_df["Category"] = cat_list
    clean_df['Gender'] = (['Male']*5+['Female']*5)*len(cat)
    clean_df['Age'] = ['28-24','25-34','35-44','45-54','55+']*2*len(cat)
    clean_df['Year'] = [year]*len(cat)*10
    clean_df['Division'] = ['east_central']*len(cat)*10
    clean_df['Population'] = pop_list
    clean_ec_data = pd.concat([clean_ec_data,clean_df], ignore_index=True)
    print ("{} data finished".format(year))
clean_ec_data.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  Category Gender    Age  Year      Division Population
0   totals   Male  28-24  2013  east_central         31
1   totals   Male  25-34  2013  east_central         51
2   totals   Male  35-44  2013  east_central         71
3   totals   Male  45-54  2013  east_central         64
4   totals   Male    55+  2013  east_central         78

# Feature Engineering

In [4]:
# Convert category names to index
cat_list = list(clean_ec_data.Category.unique())
cat_dict = dict(zip(cat_list,[str(i) for i in range(0,len(cat_list))]))
cat_dict

{'all_live_theater/concerts/dance-attended_last_12_months': '8',
 'digital_music': '10',
 'magazine': '4',
 'movie_goers': '5',
 'radio': '3',
 'social_media_[social_media_user]': '9',
 'streaming_video': '11',
 'supermarket_goer_last_4_weeks': '6',
 'tablet_owner': '7',
 'totals': '0',
 'tv': '2',
 'video_game': '1'}

In [5]:
# Encode category name
for index, row in clean_ec_data.iterrows():
    row[0] = cat_dict[row[0]]
clean_ec_data.head()

  Category Gender    Age  Year      Division Population
0        0   Male  28-24  2013  east_central         31
1        0   Male  25-34  2013  east_central         51
2        0   Male  35-44  2013  east_central         71
3        0   Male  45-54  2013  east_central         64
4        0   Male    55+  2013  east_central         78

In [6]:
clean_ec_data.to_csv('clean_data\clean_all_year_EC_withIndex.csv', index = False)