In [1]:
# Ddd dependencies
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date

In [14]:
# Load csv files
dmgp_data = 'raw_data/PEP_2017_PEPAGESEX_with_ann.csv'

In [36]:
# Read Data File and store into Pandas Data Frames
dmgp_df = pd.read_csv(dmgp_data)

In [37]:
dmgp_df.head()

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72014sex2_medage,est72015sex0_medage,est72015sex1_medage,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage
0,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; T...","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Bo...,...,Population Estimate (as of July 1) - 2014 - Fe...,Population Estimate (as of July 1) - 2015 - Bo...,Population Estimate (as of July 1) - 2015 - Ma...,Population Estimate (as of July 1) - 2015 - Fe...,Population Estimate (as of July 1) - 2016 - Bo...,Population Estimate (as of July 1) - 2016 - Ma...,Population Estimate (as of July 1) - 2016 - Fe...,Population Estimate (as of July 1) - 2017 - Bo...,Population Estimate (as of July 1) - 2017 - Ma...,Population Estimate (as of July 1) - 2017 - Fe...
1,0500000US06001,06001,"Alameda County, California",1510271,740573,769698,1510261,740570,769691,1513402,...,38.1,37.3,36.4,38.2,37.4,36.5,38.3,37.5,36.7,38.4
2,0500000US06003,06003,"Alpine County, California",1175,606,569,1175,606,569,1161,...,47.8,48.7,48.3,49.3,50.0,49.9,50.2,49.5,48.6,50.1
3,0500000US06005,06005,"Amador County, California",38091,20749,17342,38091,20749,17342,37884,...,53.1,50.8,48.4,53.5,50.8,48.3,53.5,50.5,47.9,53.8
4,0500000US06007,06007,"Butte County, California",220000,108931,111069,220002,108932,111070,219957,...,38.9,37.0,35.3,38.9,37.0,35.4,38.9,37.1,35.6,38.8

In [38]:
# Grab the first row for the header
new_header = dmgp_df.iloc[0]

# Take the data less the header row
dmgp_df = dmgp_df[1:]

# Set the header row as the df header
dmgp_df.columns = new_header

dmgp_df.head()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
1,0500000US06001,06001,"Alameda County, California",1510271,740573,769698,1510261,740570,769691,1513402,...,38.1,37.3,36.4,38.2,37.4,36.5,38.3,37.5,36.7,38.4
2,0500000US06003,06003,"Alpine County, California",1175,606,569,1175,606,569,1161,...,47.8,48.7,48.3,49.3,50.0,49.9,50.2,49.5,48.6,50.1
3,0500000US06005,06005,"Amador County, California",38091,20749,17342,38091,20749,17342,37884,...,53.1,50.8,48.4,53.5,50.8,48.3,53.5,50.5,47.9,53.8
4,0500000US06007,06007,"Butte County, California",220000,108931,111069,220002,108932,111070,219957,...,38.9,37.0,35.3,38.9,37.0,35.4,38.9,37.1,35.6,38.8
5,0500000US06009,06009,"Calaveras County, California",45578,22822,22756,45578,22822,22756,45470,...,52.4,51.9,50.9,52.8,52.0,50.9,53.0,51.9,50.8,53.0