In [1]:
# Ddd dependencies
import pandas as pd
import numpy as np

# Clean, Pivot and Merge Data for East Central Division 2013 - 2017

In [2]:
# create clean data frame
clean_data_ec = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_ec

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [3]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_ec = pd.read_csv("raw_data/east_central_data/Movie Purchaser Behavior EC {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_ec = raw_data_ec.dropna().drop(raw_data_ec.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_ec.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_ec.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_ec = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_ec["category"] = cat_list_final
    yearly_data_ec['gender'] = (['Male']*len(['28-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['28-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_ec['age'] = ['28-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_ec['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ec['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ec['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_ec = pd.concat([clean_data_ec,yearly_data_ec], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_ec.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  28-24  2013  east_central         31
1   totals   Male  25-34  2013  east_central         51
2   totals   Male  35-44  2013  east_central         71
3   totals   Male  45-54  2013  east_central         64
4   totals   Male    55+  2013  east_central         78

# Clean, Pivot and Merge Data for Northeast Division 2013 - 2017

In [4]:
# create clean data frame
clean_data_ne = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_ne

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [5]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_ne = pd.read_csv("raw_data/north_east_data/Movie Purchaser Behavior NE {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_ne = raw_data_ne.dropna().drop(raw_data_ne.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_ne.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_ne.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_ne = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_ne["category"] = cat_list_final
    yearly_data_ne['gender'] = (['Male']*len(['28-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['28-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_ne['age'] = ['28-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_ne['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ne['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ne['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_ne = pd.concat([clean_data_ne,yearly_data_ne], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_ne.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  28-24  2014  east_central         54
1   totals   Male  25-34  2014  east_central         70
2   totals   Male  35-44  2014  east_central         98
3   totals   Male  45-54  2014  east_central        114
4   totals   Male    55+  2014  east_central        183

# Clean, Pivot and Merge Data for South Division 2013 - 2017

In [6]:
# create clean data frame
clean_data_s = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_s

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [7]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_s = pd.read_csv("raw_data/south_data/Movie Purchaser Behavior S {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_s = raw_data_s.dropna().drop(raw_data_s.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_s.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_s.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_s = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_s["category"] = cat_list_final
    yearly_data_s['gender'] = (['Male']*len(['28-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['28-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_s['age'] = ['28-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_s['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_s['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_s['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_s = pd.concat([clean_data_s,yearly_data_s], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_s.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  28-24  2013  east_central         78
1   totals   Male  25-34  2013  east_central        160
2   totals   Male  35-44  2013  east_central        198
3   totals   Male  45-54  2013  east_central        170
4   totals   Male    55+  2013  east_central        247

# Clean, Pivot and Merge Data for South East Division 2013 - 2017

In [8]:
# create clean data frame
clean_data_se = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_se

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [9]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_se = pd.read_csv("raw_data/south_east_data/Movie Purchaser Behavior SE {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_se = raw_data_se.dropna().drop(raw_data_se.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_se.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_se.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_se = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_se["category"] = cat_list_final
    yearly_data_se['gender'] = (['Male']*len(['28-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['28-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_se['age'] = ['28-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_se['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_se['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_se['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_se = pd.concat([clean_data_se,yearly_data_se], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_se.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  28-24  2013  east_central         27
1   totals   Male  25-34  2013  east_central         72
2   totals   Male  35-44  2013  east_central         76
3   totals   Male  45-54  2013  east_central         74
4   totals   Male    55+  2013  east_central        145

# Clean, Pivot and Merge Data for West Central Division 2013 - 2017

In [10]:
# create clean data frame
clean_data_wc = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_wc

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [11]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_wc = pd.read_csv("raw_data/west_central_data/Movie Purchaser Behavior WC {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_wc = raw_data_wc.dropna().drop(raw_data_wc.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_wc.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_wc.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_wc = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_wc["category"] = cat_list_final
    yearly_data_wc['gender'] = (['Male']*len(['28-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['28-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_wc['age'] = ['28-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_wc['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_wc['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['28-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_wc['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_wc = pd.concat([clean_data_wc,yearly_data_wc], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_wc.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  28-24  2013  east_central         55
1   totals   Male  25-34  2013  east_central         78
2   totals   Male  35-44  2013  east_central         85
3   totals   Male  45-54  2013  east_central         87
4   totals   Male    55+  2013  east_central        109

In [12]:
# Save clean data to csv
clean_data_ec.to_csv('clean_data\clean_data_ec_2013_to_2017.csv', index = False)
clean_data_ne.to_csv('clean_data\clean_data_ne_2013_to_2017.csv', index = False)
clean_data_s.to_csv('clean_data\clean_data_s_2013_to_2017.csv', index = False)
clean_data_se.to_csv('clean_data\clean_data_se_2013_to_2017.csv', index = False)
clean_data_wc.to_csv('clean_data\clean_data_wc_2013_to_2017.csv', index = False)