In [1]:
# Import dependencies
import sqlite3
import pandas as pd
import numpy as np
from numpy import nan

In [2]:
# Connect to database
conn = sqlite3.connect('database.sqlite')

In [3]:
# Read sqlite query results into a pandas DataFrame
test_df = pd.read_sql_query("""
SELECT 
*
FROM east_central_table

union

SELECT 
*
FROM north_east_table

union

SELECT 
*
FROM pacific_table

union

SELECT 
*
FROM south_table

union

SELECT 
*
FROM south_east_table

union

SELECT 
*
FROM south_west_table

union

SELECT 
*
FROM west_central_table

""",conn)

test_df

,index,category,gender,age,year,division,population
0,0,totals,Male,18-24,2013,east_central,31
1,0,totals,Male,18-24,2013,pacific,78
2,0,totals,Male,18-24,2013,south,78
3,0,totals,Male,18-24,2013,south_east,27
4,0,totals,Male,18-24,2013,south_west,51
5,0,totals,Male,18-24,2013,west_central,55
6,0,totals,Male,18-24,2014,north_east_central,54
7,1,totals,Male,25-34,2013,east_central,51
8,1,totals,Male,25-34,2013,pacific,89
9,1,totals,Male,25-34,2013,south,160
10,1,totals,Male,25-34,2013,south_east,72
11,1,totals,Male,25-34,2013,south_west,88
12,1,totals,Male,25-34,2013,west_central,78
13,1,totals,Male,25-34,2014,north_east_central,70
14,2,totals,Male,35-44,2013,east_central,71
15,2,totals,Male,35-44,2013,pacific,111
16,2,totals,Male,35-44,2013,south,198
17,2,totals,Male,35-44,2013,south_east,76
18,2,totals,Male,35-44,2013,south_west,122
19,2,totals,Male,35-44,2013,west_central,85
20,2,totals,Male,35-44,2014,north_east_central,98
21,3,totals,Male,45-54,2013,east_central,64
22,3,totals,Male,45-54,2013,pacific,112
23,3,totals,Male,45-54,2013,south,170
24,3,totals,Male,45-54,2013,south_east,74
25,3,totals,Male,45-54,2013,south_west,96
26,3,totals,Male,45-54,2013,west_central,87
27,3,totals,Male,45-54,2014,north_east_central,114
28,4,totals,Male,55+,2013,east_central,78
29,4,totals,Male,55+,2013,pacific,141
...,...,...,...,...,...,...,...
3830,560,social_media_[social_media_user],Male,18-24,2017,east_central,15
3831,560,social_media_[social_media_user],Male,18-24,2017,south,57
3832,560,social_media_[social_media_user],Male,18-24,2017,west_central,16
3833,561,social_media_[social_media_user],Male,25-34,2017,east_central,22
3834,561,social_media_[social_media_user],Male,25-34,2017,south,99
3835,561,social_media_[social_media_user],Male,25-34,2017,west_central,35
3836,562,social_media_[social_media_user],Male,35-44,2017,east_central,27
3837,562,social_media_[social_media_user],Male,35-44,2017,south,79
3838,562,social_media_[social_media_user],Male,35-44,2017,west_central,24
3839,563,social_media_[social_media_user],Male,45-54,2017,east_central,14
3840,563,social_media_[social_media_user],Male,45-54,2017,south,52
3841,563,social_media_[social_media_user],Male,45-54,2017,west_central,25
3842,564,social_media_[social_media_user],Male,55+,2017,east_central,16
3843,564,social_media_[social_media_user],Male,55+,2017,south,47
3844,564,social_media_[social_media_user],Male,55+,2017,west_central,15
3845,565,social_media_[social_media_user],Female,18-24,2017,east_central,7
3846,565,social_media_[social_media_user],Female,18-24,2017,south,39
3847,565,social_media_[social_media_user],Female,18-24,2017,west_central,13
3848,566,social_media_[social_media_user],Female,25-34,2017,east_central,29
3849,566,social_media_[social_media_user],Female,25-34,2017,south,88
3850,566,social_media_[social_media_user],Female,25-34,2017,west_central,24
3851,567,social_media_[social_media_user],Female,35-44,2017,east_central,25
3852,567,social_media_[social_media_user],Female,35-44,2017,south,72
3853,567,social_media_[social_media_user],Female,35-44,2017,west_central,38
3854,568,social_media_[social_media_user],Female,45-54,2017,east_central,17
3855,568,social_media_[social_media_user],Female,45-54,2017,south,61
3856,568,social_media_[social_media_user],Female,45-54,2017,west_central,24
3857,569,social_media_[social_media_user],Female,55+,2017,east_central,14
3858,569,social_media_[social_media_user],Female,55+,2017,south,62
3859,569,social_media_[social_media_user],Female,55+,2017,west_central,21

In [4]:
# Save clean data to csv
test_df.to_csv('test_data/test_data.csv', index = False)