In [1]:
import pandas as pd
import numpy as np

In [6]:
test = pd.read_csv('../clean_data/female_data_2013_to_2017.csv')
test_df = pd.DataFrame(test)
test_df.head()

  category    age  year      division  population
0   totals  18-24  2013  east_central          40
1   totals  18-24  2013       pacific          87
2   totals  18-24  2013         south         134
3   totals  18-24  2013    south_east          50
4   totals  18-24  2013    south_west          84