In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv("../raw_data/East Central Data/Movie Purchaser Behavior CE 2013.csv",skiprows=1)
df = pd.DataFrame(raw)
df = df.dropna().drop(['Unnamed: 1','Totals','General Movie Purchaser'], axis=1)
df

,Unnamed: 0,Genral Movie Purchaser East Central,GenralMovie Purchaser East Central Male,Genral Movie Purchaser East Central Female,Movie Purchaser EC 18-24,Movie Purchaser EC 18-24 male,Movie Purchaser EC 18-24 Female,Movie Purchaser EC 25-34,Movie Purchaser EC 25-34 male,Movie Purchaser EC 25-34 Female,Movie Purchaser EC 35-44,Movie Purchaser EC 35-44 Male,Movie Purchaser EC 35-44 Female,Movie Purchaser EC 45-54,Movie Purchaser EC 45-54 Male,Movie Purchaser EC 45-54 Female,Movie Purchaser EC 55+,Movie Purchaser EC 55+ Male,Movie Purchaser EC 55+ Female
0,Totals,702.0,295.0,407.0,71,31,40,124,51,73,137,71,66,165,64,101,205,78,127
5,Video Game,324.0,156.0,168.0,50,26,24,83,37,46,84,49,35,62,31,31,45,13,32
10,TV,631.0,258.0,373.0,53,23,30,103,38,65,125,63,62,158,62,96,192,72,120
15,RADIO,550.0,223.0,327.0,48,17,31,100,39,61,108,52,56,134,53,81,160,62,98
20,MAGAZINE,684.0,288.0,396.0,71,31,40,121,49,72,133,69,64,160,64,96,199,75,124
25,MOVIE GOERS,702.0,295.0,407.0,71,31,40,124,51,73,137,71,66,165,64,101,205,78,127
30,SUPERMARKET GOER LAST 4 WEEKS,694.0,293.0,401.0,69,30,39,124,51,73,135,71,64,163,64,99,203,77,126
35,TABLET OWNER,200.0,75.0,125.0,13,3,10,35,10,25,49,26,23,57,21,36,46,15,31
40,All LIVE THEATER/CONCERTS/DANCE-ATTENDED LAST ...,370.0,137.0,233.0,43,17,26,61,21,40,61,27,34,94,29,65,111,43,68
45,SOCIAL MEDIA [SOCIAL MEDIA USER],571.0,225.0,346.0,67,29,38,116,46,70,117,57,60,135,51,84,136,42,94

In [3]:
list(df) # all colum names

['Unnamed: 0',
 'Genral Movie Purchaser East Central',
 'GenralMovie Purchaser East Central Male',
 'Genral Movie Purchaser East Central Female',
 'Movie Purchaser EC 18-24',
 'Movie Purchaser EC 18-24 male\r\n',
 'Movie Purchaser EC 18-24 Female\r\n',
 'Movie Purchaser EC 25-34',
 'Movie Purchaser EC 25-34 male',
 'Movie Purchaser EC 25-34 Female',
 'Movie Purchaser EC 35-44',
 'Movie Purchaser EC 35-44 Male',
 'Movie Purchaser EC 35-44 Female',
 'Movie Purchaser EC 45-54',
 'Movie Purchaser EC 45-54 Male',
 'Movie Purchaser EC 45-54 Female',
 'Movie Purchaser EC 55+',
 'Movie Purchaser EC 55+ Male',
 'Movie Purchaser EC 55+ Female']

In [4]:
# replace ' ' in category names with "_"
cat = list(i.strip().replace(' ','_') for i in list(df['Unnamed: 0']))
cat

['Totals',
 'Video_Game',
 'TV',
 'RADIO',
 'MAGAZINE',
 'MOVIE_GOERS',
 'SUPERMARKET_GOER_LAST_4_WEEKS',
 'TABLET_OWNER',
 'All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_12_MONTHS',
 'SOCIAL_MEDIA_[SOCIAL_MEDIA_USER]']

In [5]:
# # Create a reference for Female and Male Population at each age zone and category
# dict_GM = dict()
# # dict_GM['Total'] = list(df['Genral Movie Purchaser East Central'])
# # dict_GM['GM_Male'] = list(df['GenralMovie Purchaser East Central Male'])
# # dict_GM['GM_Female'] = list(df['GenralMovie Purchaser East Central Female'])
# # dict_GM['18-24'] = list(df['Movie Purchaser EC 18-24'])
# # dict_GM['25-34'] = list(df['Movie Purchaser EC 25-34'])
# # dict_GM['35-44'] = list(df['Movie Purchaser EC 35-44'])
# # dict_GM['45-54'] = list(df['Movie Purchaser EC 45-54'])
# # dict_GM['55+'] = list(df['Movie Purchaser EC 55+'])
# keys = ['18-24_f', '18-24_m', '25-34_f', '25-34_m', '35-44_f', '35-44_m', '45-54_f', '45-54_m', '55_f', '55_m']
# columns = ['Movie Purchaser EC 18-24 Female\r\n','Movie Purchaser EC 18-24 male\r\n','Movie Purchaser EC 25-34 Female'\
#           ,'Movie Purchaser EC 25-34 male','Movie Purchaser EC 35-44 Female','Movie Purchaser EC 35-44 Male'\
#           ,'Movie Purchaser EC 45-54 Female','Movie Purchaser EC 45-54 Male','Movie Purchaser EC 55+ Female'\
#           ,'Movie Purchaser EC 55+ Male']
# for i in range(0,len(list(keys))):
#     dict_GM[keys[i]] = list(df[columns[i]].astype('int64'))
# dict_GM

In [11]:
# population for each category
pop_list = []
for index, row in df.iterrows():
    pop_list += [int(row['Movie Purchaser EC 18-24 male\r\n'])] + [int(row['Movie Purchaser EC 25-34 male'])]\
                + [int(row['Movie Purchaser EC 35-44 Male'])] + [int(row['Movie Purchaser EC 45-54 Male'])]\
                + [int(row['Movie Purchaser EC 55+ Male'])]+ [int(row['Movie Purchaser EC 18-24 Female\r\n'])]\
                +  [int(row['Movie Purchaser EC 25-34 Female'])] + [int(row['Movie Purchaser EC 35-44 Female'])]\
                + [int(row['Movie Purchaser EC 45-54 Female'])]+ [int(row['Movie Purchaser EC 55+ Female'])]
pop_list

[31,
 51,
 71,
 64,
 78,
 40,
 73,
 66,
 101,
 127,
 26,
 37,
 49,
 31,
 13,
 24,
 46,
 35,
 31,
 32,
 23,
 38,
 63,
 62,
 72,
 30,
 65,
 62,
 96,
 120,
 17,
 39,
 52,
 53,
 62,
 31,
 61,
 56,
 81,
 98,
 31,
 49,
 69,
 64,
 75,
 40,
 72,
 64,
 96,
 124,
 31,
 51,
 71,
 64,
 78,
 40,
 73,
 66,
 101,
 127,
 30,
 51,
 71,
 64,
 77,
 39,
 73,
 64,
 99,
 126,
 3,
 10,
 26,
 21,
 15,
 10,
 25,
 23,
 36,
 31,
 17,
 21,
 27,
 29,
 43,
 26,
 40,
 34,
 65,
 68,
 29,
 46,
 57,
 51,
 42,
 38,
 70,
 60,
 84,
 94]

In [12]:
# clean data table
clean_df = pd.DataFrame(columns=['Cat','Gender','Age','Year','Region','Pop'])
cat_list = []
for i in cat:
    cat_list += [i]*10
clean_df["Cat"] = cat_list
clean_df['Gender'] = (['Male']*5+['Female']*5)*len(cat)
clean_df['Age'] = ['28-24','25-34','35-44','45-54','55+']*2*len(cat)
clean_df['Year'] = [2013]*len(cat)*10
clean_df['Region'] = ['Central East']*len(cat)*10
clean_df['Pop'] = pop_list
clean_df

,Cat,Gender,Age,Year,Region,Pop
0,Totals,Male,28-24,2013,Central East,31
1,Totals,Male,25-34,2013,Central East,51
2,Totals,Male,35-44,2013,Central East,71
3,Totals,Male,45-54,2013,Central East,64
4,Totals,Male,55+,2013,Central East,78
5,Totals,Female,28-24,2013,Central East,40
6,Totals,Female,25-34,2013,Central East,73
7,Totals,Female,35-44,2013,Central East,66
8,Totals,Female,45-54,2013,Central East,101
9,Totals,Female,55+,2013,Central East,127
10,Video_Game,Male,28-24,2013,Central East,26
11,Video_Game,Male,25-34,2013,Central East,37
12,Video_Game,Male,35-44,2013,Central East,49
13,Video_Game,Male,45-54,2013,Central East,31
14,Video_Game,Male,55+,2013,Central East,13
15,Video_Game,Female,28-24,2013,Central East,24
16,Video_Game,Female,25-34,2013,Central East,46
17,Video_Game,Female,35-44,2013,Central East,35
18,Video_Game,Female,45-54,2013,Central East,31
19,Video_Game,Female,55+,2013,Central East,32
20,TV,Male,28-24,2013,Central East,23
21,TV,Male,25-34,2013,Central East,38
22,TV,Male,35-44,2013,Central East,63
23,TV,Male,45-54,2013,Central East,62
24,TV,Male,55+,2013,Central East,72
25,TV,Female,28-24,2013,Central East,30
26,TV,Female,25-34,2013,Central East,65
27,TV,Female,35-44,2013,Central East,62
28,TV,Female,45-54,2013,Central East,96
29,TV,Female,55+,2013,Central East,120
...,...,...,...,...,...,...
70,TABLET_OWNER,Male,28-24,2013,Central East,3
71,TABLET_OWNER,Male,25-34,2013,Central East,10
72,TABLET_OWNER,Male,35-44,2013,Central East,26
73,TABLET_OWNER,Male,45-54,2013,Central East,21
74,TABLET_OWNER,Male,55+,2013,Central East,15
75,TABLET_OWNER,Female,28-24,2013,Central East,10
76,TABLET_OWNER,Female,25-34,2013,Central East,25
77,TABLET_OWNER,Female,35-44,2013,Central East,23
78,TABLET_OWNER,Female,45-54,2013,Central East,36
79,TABLET_OWNER,Female,55+,2013,Central East,31
80,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Male,28-24,2013,Central East,17
81,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Male,25-34,2013,Central East,21
82,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Male,35-44,2013,Central East,27
83,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Male,45-54,2013,Central East,29
84,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Male,55+,2013,Central East,43
85,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Female,28-24,2013,Central East,26
86,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Female,25-34,2013,Central East,40
87,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Female,35-44,2013,Central East,34
88,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Female,45-54,2013,Central East,65
89,All_LIVE_THEATER/CONCERTS/DANCE-ATTENDED_LAST_...,Female,55+,2013,Central East,68
90,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Male,28-24,2013,Central East,29
91,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Male,25-34,2013,Central East,46
92,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Male,35-44,2013,Central East,57
93,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Male,45-54,2013,Central East,51
94,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Male,55+,2013,Central East,42
95,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Female,28-24,2013,Central East,38
96,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Female,25-34,2013,Central East,70
97,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Female,35-44,2013,Central East,60
98,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Female,45-54,2013,Central East,84
99,SOCIAL_MEDIA_[SOCIAL_MEDIA_USER],Female,55+,2013,Central East,94