In [1]:
# Import dependencies
import sqlite3
import pandas as pd
import numpy as np
from numpy import nan

In [3]:
# Connect to database
conn = sqlite3.connect('database.sqlite')

In [4]:
# Read sqlite query results into a pandas DataFrame
coordinate_df = pd.read_sql_query('SELECT * from coordinate_table',conn)
coordinate_df.head()

   index abbreviation   Latitude   Longitude       state
0      0           AL  32.601011  -86.680736     Alabama
1      1           AK  61.302501 -158.775020      Alaska
2      2           AZ  34.168219 -111.930907     Arizona
3      3           AR  34.751928  -92.131378    Arkansas
4      4           CA  37.271875 -119.270415  California

In [6]:
# Read sqlite query results into a pandas DataFrame
div_df  = pd.read_sql_query('SELECT * from nielsen_division_table',conn)
div_df.head()

   index       state    division
0      0     Alabama  south_east
1      1      Alaska     pacific
2      2     Arizona    mountain
3      3    Arkansas  south_west
4      4  California     pacific

# Get East Central Coordinate

In [17]:
# Read sqlite query results into a pandas DataFrame
ec_div_df  = pd.read_sql_query("""
SELECT 

avg(Latitude) as Latitude,
avg(Longitude) as Longitude

FROM coordinate_table a
inner join nielsen_division_table b
on a.state = b.state

where division = 'east_central'

""",conn)

ec_div_df.head()

    Latitude  Longitude
0  41.885151 -86.971436

In [19]:
# Save data frame to csv
test_complete_df.to_csv('clean_data/test_complete_data.csv')